body{font-size: 20px;}


.bg_color1{
    background-color: #ed254e;
}


.bg_color2{
    
    background-color: #efefef;;
}


.bg_color3{
  
    background-color: #EEEFF4;;
}

.bg_color4{
    background-color: #474a48;;
}

.bg_color5{
    background-color: #918c90;;
}

.shadow_custom{box-shadow: 5px 5px 20px;}



